*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   background-color: #1a1a1d;
}


/* -------------HEADER------------------- */

header{
  padding: 18px;
  background-color: #950741;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 span{
  color: #C3B8DA;
}
header h1{
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  color: #ffffff; 
  letter-spacing: 0.25rem;
}

header ul{
  list-style: none;
  margin-right: 25px;
}

header ul li{
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  padding: 12px 25px;
  color: #ffffff;
  display: inline;
  font-size: 25px;
}



header ul span{
  color: #ffffffb0;
  padding-right: 1px;
}


a, a:hover, a:focus, a:active {
text-decoration: none;
color: inherit;
}
a{
  text-decoration: none;
}
/* ------------------------BODY-------------------------- */
.mainSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gif img{
  margin-top:120px;
  margin-left: 50px;
  width: 70%;
}
.main{
  margin-top: 150px;
  margin-left: 150px;
}
.main h1{
  font-family: 'Roboto Mono', monospace;
  color: #C3083F;
  font-weight: bold;
  font-size: 35px;
}
.main p{
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-size: 20px;
  line-height: 50px;
  margin-top: 45px;
  border-radius: 1rem;
}

/* ----------------TOOLS--------------------- */
.tools h1{
  text-align: center;
  color: #C3083F;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin-top: 25px;
}
.tools{
  margin-top: 100px;
  text-align: center;
}
.icons{
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
 .icons > *{
  color: #fff;
  font-size: 70px;
  margin: 15px;
  animation: -webkit-;
}
.icons >*:hover{
  cursor: pointer;
  font-size: 80px;
  transition: 0.4s ease-in;
}
/* -----------------ABOUT-------------------- */
.about{
  margin-top: 100px;
}
.about h2{
  
  text-align: center;
  color: #c3073f;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin-top: 25px;
  font-size: 40px;
}
.about p{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  word-spacing: 4px;
  padding: 20px 200px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: -20px;
  line-height: 1.5;
  font-weight: bold;
}
/* --------------------FOOTER------------------------- */
.footer{
  background-color: #6e6e6e;
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}
.footer h1{
  padding: 25px;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 4px;
}
.footer-links{
  display: flex;
  justify-content: space-evenly; 
  list-style: none;
  padding: 22px;
}
.footer-links li a{
  font-size: 1.5rem;
  color: #7e7e7e;
}
.footer-links li a span{
  color: rgba(255, 255, 255, 0.349);
}
.footer-2{
  background-color: #080707;
}

.footerIcon {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 22px;
} 
.footerIcon a{
  font-size: 50px;
  margin: 0 20px;
  color: #fff;
}
.footerMain{
   left: 0;
   bottom: 0;
}
/* -------------------------------BLOG-------------------- */
.blog h1 span{
  color: #ffffff;
}
.blog .heading{
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #b8b3b4;
  text-align: center;
  letter-spacing: 7px;
  font-size: 40px;
}
/* --------------BLOGS SECTION------------- */

.blogsDiv{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.item{
  width: 600px;
  padding: 25px;
}
.item h3{
  color: #c3c4c5;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
.item h1{
  margin-top: 15px;
  font-family:'Roboto Mono', monospace;
  color:#82c24d;
  letter-spacing:3px;
}
.item h2{
  margin-left: 50px;
  width: 400px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
  color:#083f5a;
  letter-spacing:3px;
}

.blogpara{
  margin-left: 25px;
  border-left: 2px solid gray;
  margin-top: 20px;
  color: #a8a8a8;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}
.blogpara p{
  letter-spacing:2px;
  word-spacing: 2px;
  margin-left: 15px;
  font-size: 20px;
}
.blogpara span{
  color: rgb(76, 221, 125);
}

/* ----------------------------FBLOF------------------ */

.fblog{
  text-align: center; 
}
.fblog h3{
  color: #c3c4c5;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}
.fblog h1{
  color: #82c24d;
  font-family:'Roboto Mono', monospace;
  padding: 15px;
  padding-top: 0;
}
.fblog h1 span{
  color: #791e1e;
}
.fblog p{
  padding: 30px;
  text-align: left;
  color: #b8b8b8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin-left: 15px;
  font-size: 20px;
}
/* -------------------------projects---------------------- */
.projectsHeading{
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #b8b3b4;
  text-align: center;
  letter-spacing: 7px;
  font-size: 40px;
}
.projectsHeading span{
  color: #fff;
}

.showCase{
  margin-left: 50px;
  width: 900px;
  padding: 30px;
}

.showCase h2{
  font-size: 30px;
  color: #81e232;
  font-family: 'Montserrat', sans-serif;
}
.showCase p{
  color: #dad0d0;
  font-family:'Roboto Mono', monospace;
  font-size: 25px;
  margin-bottom: 15px;
}
.showCase a{
  color: #fff;
  border: 2px solid #82c24d;
  padding: 0 15px;
  margin: 15px;
  font-size: 25px;
}
/* ----------------RESPONSIVE DEVISES----------- */

@media only screen and (max-width: 600px){
      header{
  padding: 0px;
  flex-direction: column;
}
header ul{
  margin-right: 0px;
}

header ul li{
  padding: 10px 25px;
  display: block;
}
/* ------------------------BODY-------------------------- */
.mainSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gif img{
  margin-top:50px;
  width: 80%;
}
.main{
  padding: 1px;
  margin-top: 50px;
  margin-left: 0px;
}
.main p{
  padding: 5px 5px;
  letter-spacing: 0px;
  word-spacing: 1px;
  line-height: 40px;
  margin-top: 45px;
}

/* ----------------TOOLS--------------------- */
.tools h1{
  text-align: center;
  color: #C3083F;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin-top: 25px;
}
.tools{
  margin-top: 100px;
  text-align: center;
}
.icons{
  margin-top: 15px;
  display: block;
  padding: 15px;
}
 .icons > *{
  color: #fff;
  font-size: 50px;
}
.icons >*:hover{
  cursor: pointer;
  font-size: 50px;
  transition: 0.4s ease-in;
}
/* -----------------ABOUT-------------------- */
.about{
  margin-top: 10px;
  width: 100%;
}
.about h2{
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin-top: 25px;
  font-size: 40px;
}
.about p{
  word-spacing: 1px;
  padding: 0px;
  margin: 2px;
  letter-spacing: 1px;
}
/* --------------------FOOTER------------------------- */
.footer{
  margin-top: 50px;
}
.footer h1{
  padding: 10px;
  letter-spacing: 2px;
}

.footerIcon {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 22px;
} 
.footerIcon a{
  font-size: 50px;
  margin: 0 20px;
  color: #fff;
}
.footerMain{
   left: 0;
   bottom: 0;
}

/* +++PROJECTS */

.projectsHeading{
  margin-top: 20px;
  letter-spacing: 5px;
}

.showCase{
  margin: 50px 0;

  width: 100%;
  padding: 0px;
}

.showCase h2{
  font-size: 30px;
  margin: 5px;
}
.showCase p{
  font-size: 23px;
}
.showCase a{
  color: #fff;
  border: 2px solid #82c24d;
  margin: 1px;
  font-size: 25px;
}
    }